INFLUXDB_ADMIN_USERNAME = admin
INFLUXDB_ADMIN_PASSWORD= your_secure_password
INFLUXDB_ORG = your_organization
INFLUXDB_BUCKET = your_bucket
INFLUXDB_ADMIN_TOKEN= admin_api_token
INFLUXDB_URL = http://influxdb:8086