# All .env files
.env

# MQTT broker data/ logs
mqtt-broker/data
mqtt-broker/log

# Node-RED data
node-red-data/*

!node-red-data/flows.json
!node-red-data/package.json
!node-red-data/package-lock.json
!node-red-data/settings.js

# InfluxDB data
influxdb/data